* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--yt-background-color-main);
}

:root {
  --yt-primary: #fff;
  --yt-secondary: #aaa;
  --yt-third: a2a2a2;
  --yt-background-color-main: #212020;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}

.left-content {
  width: 170px;
  background-color: lightblue;
}

.middle-content {
  margin-left: 34px;
  flex: 1;
  max-width: 524px;
  background-color: lightcoral;
}

.input-search {
  border: 1px solid var(--yt-third);
  padding: 2px 6px;
  width: 524px;
}

.right-content {
  width: 200px;
  background-color: lightpink;
}

main {
  width: 95vw;
  display: grid;
  grid-template-columns: 344px 344px 344px 344px 344px;
  column-gap: 16px;
  row-gap: 25px;
  padding: 0 16px;
}

.video-preview {
  width: 100%;
  height: 300px;
}

.thumbnail {
  position: relative;
}

.time {
  position: absolute;
  bottom: 7px;
  right: 4px;
  padding: 3px 4px;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
}

.video-thumbnail {
  width: 100%;
}

.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  width: 36px;
  margin-top: 12px;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}

.video-title {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--yt-primary);
}

.channel-name {
  font-size: 14px;
  color: var(--yt-secondary);
}

.channel-name:hover {
  color: var(--yt-primary);
  cursor: pointer;
}

.video-stats {
  font-size: 14px;
  color: var(--yt-secondary);
}
